<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; text-align:center;  ">
<h1> Create a new signup </h1>
<%= render 'form' %>
<button> <%= link_to 'cancel and Returns to Posts listings', posts_path(@posts) %> </button>
</div>