<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center" >
      <h1 class="display-4">Introducing SocialApp: Your Ultimate Social Media Experience</h1>
      <p class="lead">Welcome to SocialApp, the next evolution in social networking. </p>
      <hr class="my-4">
      <p>Whether you are reconnecting with old friends or forging new connections, SocialApp is here to provide a seamless and enriching social media experience.</p>
      <p class="lead">
        <%= link_to 'Sign Up', signup_path(@user), class:"btn btn-primary btn-lg"  %>
      </p>
    </div>
  </div>
</div>



<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center text-black fw-bold">
    <small>Copyright &copy; <%= link_to "Abhishek Choudhary", "https://www.linkedin.com/in/abhishek-choudhary2000/", class: "text-black" %></small>
  </div>
</footer>