<h1> Welcome to the SocialApp </h1>

<p> Share your feelings, and know what other people feels about you. </p>


<p> <%= link_to 'Sign Up', signup_path(@user) %> </p>
<p> <%= link_to 'Check latest Posts', posts_path(@posts) %> </p>