<div class="container bg-danger mt-5" id="home-container">
    <div class="jumbotron text-center" >
      <h1 class="display-4 fw-bold">Introducing SocialApp: Your Ultimate Social Media Experience</h1>
      <p class="lead">Welcome to SocialApp, the next evolution in social networking. </p>
      <hr class="my-4">
      <p>Whether you are reconnecting with old friends or forging new connections, SocialApp is here to provide a seamless and enriching social media experience.</p>
      <p class="lead">
        <%= link_to 'Sign Up', signup_path(@user), class:"fw-bold text-dark btn btn-primary btn-lg"  %>
      </p>
    </div>
</div>
  




