<p> <strong> Title:</strong> <%= @posts.title %> </p>
<p> <strong> Topic:</strong> <%=@posts.topic %></p>
<p> <strong> Text:</strong> <%=@posts.text %></p>
<p> <strong> Published_Date:</strong> <%=@posts.created_at %></p>